// app global css in SCSS form
.flex-item {
  flex: 1 1 20%;
}


#search-bar {
  width: 40em;
}


#bar-button {
  display: flex;
}

.q-input {
  display: inline-flex;
  flex-grow: 9;
}

#submit-button {
  display: inline-flex;
}

#header,
#title,
#flavour {
  transition: 0.2s;
  font-family: 'Quicksand', sans-serif;
  user-select: none;
  z-index: 1000;
}


#header {
  padding: 0%;
  height: 12em;
}

#blog-link {
  display: inline-block;
  position: absolute;
  padding-left: 93%;
  font-size: 1.2em;
}


#title {
  // font-family: 'Montserrat Alternates', sans-serif;
  height: 100%;
  font-size: 10em;
  overflow: hidden;
  position: absolute;
  display: inline-block;
  padding-top: 0.32em;
  padding-left: 0.2em;
}

#flavour {
  font-size: 2em;
  padding-left: 4em;
  position: absolute;
  height: 100%;
  padding-top: 4.5em;
  overflow: visible;
}


#main-container {
  margin-top: 2%;
  display: flex;
  transition: height 0.3s ease-out;
  padding-left: 5%;
  padding-right: 10%;
}

#content {
  transition: 0.4s;
  // padding-top: 2em;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  transition: height 0.3s ease-out;
}

#search-container {
  user-select: none;
}


#description {
  margin-top: 6%;
}

#search-bar {
  flex-grow: 6;
}


#left,
#middle,
#right {
  padding-left: 2em;
  padding-right: 2em;
}



#left {
  flex-grow: 2;
  text-align: center;
  position: sticky;
  top: 6em;
  margin-top: 6em;
}



#middle {
  flex-grow: 3.5;
  margin-bottom: 6em;
}


#summary-body {
  font-weight: 400;
}

// #sub-summaries {
//   font-size: 1.2em;
// }

.timestamp {
  color: #e27100;
  font-weight: 600;
}


.sub-summary {
  padding-bottom: 15px;
}


#video-embed {
  text-align: left;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}


#links {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
  justify-content: left;

}

#link-container {
  min-width: 60%;
  width: 70%;
  justify-content: center;
  align-items: left;
}


.q-card {
  // margin-top: 2%;
  // margin-bottom: 2%;
  width: 100%;
}

.q-card {
  border-width: 0px 0px 2px 0px;
  border-color: gray;
  border-style: solid;
}


.q-card:hover {
  transition: 0.2s;
  background-color: rgb(202, 202, 202);
}

a {
  z-index: 10000;
  color: inherit;
  text-decoration: none;
}

.link {
  display: inline-block;
  width: 70%;
}

// right column of content


#right {
  flex-grow: 2;
  text-align: center;
  position: sticky;
  top: 6em;
  margin-top: 6em;
}




.loading {
  z-index: 500 !important;
}

#ajax {
  z-index: 7000 !important;
}


// Blog page CSS

#blog-container {
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 6em;
}