// app global css in SCSS form
.flex-item {
  flex: 1 1 20%;
}


#search-bar {
  width: 60em;
}


#bar-button {
  display: flex;
}

.q-input {
  display: inline-flex;
  flex-grow: 9;
}

#submit-button {
  display: inline-flex;
}

#header,
#title,
#flavour {
  transition: 0.2s;
  font-family: 'Quicksand', sans-serif;
  user-select: none;
  z-index: 1000;
}


#header {
  padding: 0%;
  height: 17em;
}



#title {
  // font-family: 'Montserrat Alternates', sans-serif;
  height: 100%;
  font-size: 15em;
  overflow: hidden;
  position: absolute;
  display: inline-block;
  padding-top: 0.32em;
}

#flavour {
  font-size: 2em;
  padding-left: 4em;
  position: absolute;
  height: 100%;
  padding-top: 6.5em;
  overflow: visible;
}


#main-container {
  margin-top: 2%;
  display: flex;
  transition: height 0.3s ease-out;
}

#content {
  transition: 0.4s;
  // padding-top: 2em;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  transition: height 0.3s ease-out;
}

#search-container {
  user-select: none;
}


#description {
  margin-top: 6%;
}

#search-bar {
  flex-grow: 6;
}


#left,
#middle,
#right {
  padding-left: 2em;
  padding-right: 2em;
}



#left {
  flex-grow: 2;
  text-align: center;
  position: sticky;
  top: 6em;
  margin-top: 6em;
}



#middle {
  flex-grow: 3;
}

// #sub-summaries {
//   font-size: 1.2em;
// }

.timestamp {
  color: #e28b00;
}


#video-embed {
  align-items: center;
}


// right column of content


#right {
  flex-grow: 2;
  text-align: center;
  position: sticky;
  top: 6em;
  margin-top: 6em;
}

#links {
  align-items: center;
  text-align: center;
  gap: 10px;

}

#link-container {
  text-align: center;
}

.q-card {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 120px;
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding-left: 1.5em;
  padding-right: 1.5em;
}


.loading {
  z-index: 500 !important;
}

#ajax {
  z-index: 7000 !important;
}
